
h1{
    background:white;
    color: black;
    font-family: agency fb;
    padding: 25px;
    border-radius: 4px;
    font-size:60;
    border: 1px solid grey;
    margin: 5px;


}

p.secondary{
       background:white;
  margin:5px ;
  color: black;
  font-family: agency fb;
  font-size: 30px;
    border: 1px solid grey ;
    border-radius: 3px;

}
div.navbar{
    background:grey;
    border-radius:0px;
    margin:0px;
    padding:0px;
      text-align: center;
      opacity: 0.7;
    font-family: agency fb;
    font-size: 15px;
    height: 60px;
}
div.navbar{
    background:grey;
    border-radius:0px;
    margin:0px;
    padding:0px;
    text-align: center;
    opacity: 0.7;
}
background-img{
        opacity: 0.7;
        filter: alpha;
}
