body{
    background-image: url("file:///C:/xampp/htdocs/Webpage/nyc-aerial-skyline.jpg");
    border: 1px solid grey;
}
h1{
    background:white;
    color: black;
    font-family: agency fb;
    padding: 25px;
    border-radius: 4px;
    font-size:60;
    border: 1px solid grey;
    margin: 5px;
    

}

p.secondary{
       background:white;
  margin:5px ;
  color: black;
  font-family: agency fb;
  font-size: 30px;
    border: 1px solid grey ;
    border-radius: 3px;
 
}
div.navbar{
    background:grey;
    border-radius:0px;
    margin:0px;
    padding:0px;
}
nav.navbar{
     background:grey;
    border-radius:0px;
    margin:0px;
    padding:0px;
}


